.page-default__body {
    margin: 0;
    padding: 0;
}

.morse-chat * {
    box-sizing: border-box;
}

/*.morse-chat__container {
    position: relative;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}*/

.morse-chat__container {
    position: relative;
    height: 600px;
    max-height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.morse-chat__header {
    background: #333;
    color: #fff;
    text-align: center;
    width: 100%;
}

.morse-chat__header-heading {
    margin: 0;
    padding: 10px;
    font-size: 40px;
    line-height: 1.5;
}

.morse-chat__header-github {
    position: absolute;
    right: 10px;
    top: 25px;
    margin: 0;
    border: none;
    text-decoration: none;
}

.morse-chat__header-github-img {
    vertical-align: middle;
    height: 30px;
}

.morse-chat__header-github-text {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}

@media (max-width: 480px) {
    .morse-chat__header-heading {
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    .morse-chat__header {
        padding-bottom: 5px;
    }

    .morse-chat__header-github {
        position: relative;
        top: 0;
        right: auto;
    }

    .morse-chat__header-github-img {
        height: 20px;
    }
}

.morse-chat__list-container {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: #fff;
    overflow-y: scroll;
}

.morse-chat__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y:auto;
    width: 100%;
    text-align: left;
    background-color: #fafafa;
}

.morse-chat__item {
    display: block;
    padding: 5px 10px;
    font-size: 28px;
    overflow: hidden;
}

.morse-chat__item--message:nth-child(even) {
    background-color: #fafafa;
}

.morse-chat__item--intro,
.morse-chat__item--info,
.morse-chat__item--joined,
.morse-chat__item--left {
    background: #eee;
    font-size: 14px;
}

.morse-chat__item--joined,
.morse-chat__item--left {
    background: #eee;
}

.morse-chat__item--intro,
.morse-chat__item--info {
    background: rgba(55, 164, 200, 0.25);
}

.morse-chat__item-avatar {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-right: 10px;
}

.morse-chat__item-avatar--1 {
    background-image: url('../img/avatar-1.jpg');
}

.morse-chat__item-avatar--2 {
    background-image: url('../img/avatar-2.jpg');
}

.morse-chat__item-avatar--3 {
    background-image: url('../img/avatar-3.jpg');
}

.morse-chat__item-avatar--4 {
    background-image: url('../img/avatar-4.jpg');
}

.morse-chat__item-message {
    overflow: hidden;
    line-height: 2;
}

.morse-chat__join-heading {
    margin-top: 0;
    font-size: 20px;
}

.morse-chat__join-form {
    max-height: 1000px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.morse-chat__join-label {
    display: inline-block;
}


.morse-chat__join-input {
    display: none;
}

.morse-chat__join-avatar-img {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    margin: 10px;
    pointer-events: none;
}

.morse-chat__join-avatar-name {
    display: block;
    margin: 0;
    font-size: 14px;
}

.morse-chat__message-form {
    display: none;
    background-color: #ccc;
    padding: 10px;
    width: 100%;
}

.morse-chat__message-fieldset {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
}

.morse-chat__message-input,
.morse-chat__message-submit {
    font-size: 20px;
    padding: 5px;
}

.morse-chat__message-input {
    width: 75%;
}

.morse-chat__message-submit {
    width: 25%;
    background-color: #39A5C8;
    color: #fff;
    border: 0;
    text-transform: uppercase;
}

.morse-chat__message-submit:disabled {
    background-color: #aaa;
}

.morse-chat__message-notice {
    color: #333;
    font-size: 0.8em;
}

.morse-chat--joined .morse-chat__join-form {
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.morse-chat--joined .morse-chat__message-form {
    display: block;
}