.chat__joined {
    display: none;
}

.chat__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat__item {
    display: block;
    padding: 5px 10px;
}

.chat__item--joined,
.chat__item--left {
    background: #eee;
}

.chat__item-avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-right: 10px;
}

.chat__item-avatar--1 {
    background-image: url('../img/avatar-1.jpg');
}

.chat__item-avatar--2 {
    background-image: url('../img/avatar-2.jpg');
}

.chat__item-avatar--3 {
    background-image: url('../img/avatar-3.jpg');
}

.chat__item-avatar--4 {
    background-image: url('../img/avatar-4.jpg');
}

.chat__join-heading {
    margin-top: 0;
}

.chat__join-form {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

}

.chat__join-input {
    display: none;
}

.chat__join-avatar {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    margin: 10px;
}

.chat__message-form {
    display: flex;
    background-color: #ccc;
    padding: 10px;
}

.chat__message-input,
.chat__message-submit {
    font-size: 20px;
    box-sizing: border-box;
    padding: 5px;
}

.chat__message-input {
    width: 75%;
}

.chat__message-submit {
    width: 25%;
    background-color: #39A5C8;
    color: #fff;
    border: 0;
    text-transform: uppercase;
}